/* DASHBOARD NAV STYLING */

.dashboard-container {
    margin: 30px 50px;
}

.dashboard-component {
    background-color: #dbc0a9;
}

.dashboard-nav {
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-link-nav {
    text-decoration: none;
    color: #73461f;
    border: 1px solid #73461f;
    padding: 10px 30px;
    background-color: #f7f5ed;
}

.item-link-nav:hover {
    background-color: #AD7940;
    color: white;
}

/* MANAGE LISTINGS STYLING */

.outer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listings-container {
    background-color: rgb(173, 121, 64);
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 15px;
    padding-top: 15px;
}

.owner-name {
    color: white;
}

.listing-item {
    display: flex;
    flex-direction: row;
    color: white;
}

.edit-btn, .del-btn, .remove-fav-btn, .more-info-btn {
    padding: 2px 20px;
    border-radius: 8px;
    margin: 10px;
}

/* MY MESSAGES STYLING */

.message-outer-container {
    display: flex;
    flex-direction: row;
}



.single-user {
    padding: 20px;
    width: 200px;
}

.single-user:hover {
    background-color: #9CCBC3;
}

.username-chat, .date-created {
    color: rgb(173, 121, 64);
}

.user-message {
    background-color: rgb(173, 121, 64);
    color: #f7f5ed;
    padding: 7px;
}

.message-container {
    padding: 20px;
    background-color: #f7f5ed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#message {
    width: 85%;
}

#send-btn  {
    margin-left: 15px;
    padding: 2px 15px;
}

/* UPDATE ACCOUNT DETAILS FORM STYLING */

.formContainer {
    margin: 0 40px;
    padding: 40px 0;
    background-image: url("../Images/pets/Marshmallow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}