.dashboard-container {
    margin: 30px 50px;
}

.dashboard-nav {
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-link-nav {
    text-decoration: none;
    color: #73461f;
    border: 1px solid #73461f;
    padding: 10px 30px;
    background-color: #f7f5ed;
}

.item-link-nav:hover {
    background-color: #AD7940;
    color: white;
}