body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.contact {
  background-image: url("../Images/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

.about-main{
  background-image: url("../Images/trigger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 25px;
}

.about-trigger{
  background-color: #AD7940;
  opacity: 0.8;
  width: 30%;
  height: fit-content;
  margin: 7vh;
  padding: 3vh;
  border-radius: 20px;
  color: #f2faf5;

}

.input {
  margin-bottom: 1vh;

}

.container-fluid {
  background-color: #9CCBC3;
  font-family: 'Patrick Hand', cursive;


}

.header {
  width: 50%;
  text-align: end;
  margin: 1px;
}


.header-text {
  color: #f2faf5;
  font-size: 75px;
  width: 48%;

}

.header-buttons {
  margin: auto;
  width: 48%;
  text-align: end;
 

}

.header-search {
  height: 5vh;
}