* {
  font-family: 'Patrick Hand', cursive;
}


body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.contact,
.hero-image,
.petcare-advice
 {
  background-image: url("../Images/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

.hero-image {
  width: 100%;

}

.about-main{
  background-image: url("../Images/trigger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 25px;

}

.trigger-header {
  text-align: center;
}

.about-trigger{
  background-color: #AD7940;
  opacity: 0.8;
  width: 30%;
  height: fit-content;
  margin: 7vh;
  padding: 3vh;
  border-radius: 20px;
  color: #f2faf5;
  font-family: 'Patrick Hand', cursive;
  text-align: justify;
  

}

.font {
  font-family: 'Patrick Hand', cursive;
}

.input {
  margin-bottom: 1vh;

}

.container-fluid {
  background-color: #9CCBC3;
  font-family: 'Patrick Hand', cursive;
  width: 100%;


}

.header {
  width: 50%;
  text-align: center;

}

.header-1 {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  color: #f2faf5;
  font-size: 75px;

  margin-right: 200px;
  align-items: center;
}



.header-1 {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.header-search {
  height: 5vh;

}

.header-search Button {
  width: fit-content;
}


.footer {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

@media screen and (max-width: 900px) {
  .search input,
  .search Button
  {
    margin: 2vh;
  }
  .container-fluid,
  .header-1
  {
    height: auto;
    display: flex;
    flex-wrap: wrap;
  
  }
  .search,
  .login,
  .signup,
  .contact {
    width: 90%;
    margin-left: 5%;
  }



  .about-trigger {
  }

  .search {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .contact-form,
  .contact {
    width: 90%;
    margin-left: 5%;
  }
  
.about-trigger{
  width: 80%;
}

.find-pet {
  width:fit-content;
}

.donate {
  margin-bottom: 2vh;
}

  .find-pet {
    margin: 5vh;
  }

  .login-div {
    width: 100%;
  }


}

